#root {
  max-width: 1280px;
  margin: 5% 10%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-bold-border .ant-table-cell {
  border: 1px solid black !important; /* Increase the border width and change the color if needed */
}

.ant-table-footer {
  background-color: #fff !important;
}

.ant-table-cell {
  padding: 8px !important;
}
